body {
  min-height: 100%;
}

body > h1 {
  white-space: nowrap;
  font-size: 20pt;
}

.content {
  max-width: 650px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin: 0 auto;
  padding: 10px;
}

release {
  color: var(--black);
  font-family: "Helvetica Bold";
  font-size: 125%;
}
