@font-face {
  font-family: "Eiko";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/eiko/PPEiko-Medium.otf") format("opentype");
}
@font-face {
  font-family: "Eiko Bold";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/eiko/PPEiko-Heavy.otf") format("opentype");
}

body {
  overflow: hidden;
  position: relative;
}

h1 {
  color: white;
  font-size: 60pt;
  font-family: "Helvetica";
}

b {
  /* color: #dddddd; */
  font-family: "Helvetica Bold";
}

#site-container {
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  row-gap: 10px;

  position: relative;
  justify-content: center;
  align-items: center;

  z-index: 2;
  overflow: hidden;
}

.title {
  top: 50vh;
  left: 50vw;

  height: 160px;
  width: 500px;
  clip-path: inset(19px 202px 0px 0px);

  background-color: #000000;

  z-index: 2;
}

.first-name::after {
  content: "@monoclonalAb";
  font-size: 10px;

  position: absolute;
  height: 240%;
  width: 105%;
  bottom: -138%;
  left: 0%;

  border-top: 5px solid #ff3000;
  border-right: 5px solid #ff3000;
}

.last-name::after {
  content: "";
  font-size: 10px;

  position: absolute;
  height: 20%;
  left: -25%;
  width: 120%;
  bottom: -18%;

  border-bottom: 5px solid #ff3000;
}

.inverse,
.inverse > b {
  color: black;
}

.title h1 > span {
  color: #ff3000;
}

.title h2 {
  text-align: right;

  font-size: 12pt;
  font-family: "Helvetica";
}

.first-name {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(calc(-50% + 90px), calc(-50% - 80px));
}

.last-name {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(calc(-50% - 10px), -50%);
  /* transform: translate(125px, -20px); */
  direction: rtl;
}

.github {
  position: absolute;
  bottom: 100%;

  color: black;
}

.items {
  position: relative;
  /* top: 100px; */
}

.items li {
  display: inline;
}
.items li + li:before {
  font-family: "Eiko Bold";
  content: "\00a0/\00a0";
  font-size: 20px;
}
.items li a {
  font-family: "Eiko";
  color: black;
  font-style: normal;
  text-decoration: none;
}
.items li a:hover {
  color: #374151;
}

::selection {
  background-color: #f47142;
}
