@font-face {
  font-family: "Eiko";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/eiko/PPEiko-Medium.otf") format("opentype");
}
@font-face {
  font-family: "Eiko";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/eiko/PPEiko-Heavy.otf") format("opentype");
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  h1 {
    font-size: 3rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  h1 {
    font-size: 6rem;
  }
}

html,
body {
  overflow: hidden;
}

body {
  position: relative;
}

h1 {
  color: white;
  font-family: "Helvetica";
}

#site-container {
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  row-gap: 10px;

  position: relative;
  justify-content: center;
  align-items: center;

  z-index: 2;
}

.title-container {
  position: absolute;

  height: 100vh;
  width: 100vw;

  background-color: #000000;
  z-index: 2;

  overflow: hidden;
  white-space: nowrap;
}

@keyframes leftClipPathAnimation {
  0% {
    color: white;
    clip-path: inset(0vh calc(50vw - 1px) 100vh 0vw);
  }
  50% {
    color: white;
    clip-path: inset(0vh calc(50vw - 1px) 0vh 0vw);
  }
  100% {
    color: white;
    clip-path: inset(0vh calc(50vw - 1px) 100vh 0vw);
  }
}

@keyframes rightClipPathAnimation {
  0% {
    clip-path: inset(0vh 0vw 100vh calc(50vw - 1px));
  }
  100% {
    clip-path: inset(0vh 0vw 0vh calc(50vw - 1px));
  }
}

.title-container:has(.LHS) {
  animation: leftClipPathAnimation 2s ease-in-out forwards;
}

.title-container:has(.RHS) {
  animation: rightClipPathAnimation 1s ease-in-out forwards;
}

.title {
  position: absolute;
  top: 50vh;
  left: 50vw;
}

.LHS {
  transform: translate(calc(-100%), calc(-50%));
  text-align: right;
}

.RHS {
  transform: translate(calc(0%), calc(-50%));
}

.inverse {
  color: #000000;
}

.inverse.LHS {
  color: #ff3000;
}

.title h1 > span {
  color: #ff3000;
}

h1 a {
  color: inherit;
  font-style: normal !important;
  text-decoration: none;
}

h1 a:hover {
  color: #374151;
}

.underline-animation a::after {
  height: 5px;
}

::selection {
  background-color: #f47142;
}
