/* fonts for website */
@font-face {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/helvetica/Helvetica.ttf") format("truetype");
}
@font-face {
  font-family: "Helvetica Bold";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/helvetica/Helvetica-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Elza";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/elza/ElzaTrial-Regular.otf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  font-family: "Helvetica", serif;
}
html,
body {
  height: 100vh;
  width: 100vw;
  color: #374151;
}
::selection {
  /* consider changing based on light or dark tag on <body> */
  background-color: #ffd987;
}
tt {
  font-family: monospace;
}
cite {
  /* should be default, but just in case */
  font-style: italic;
}

a {
  color: #1c2129;
  font-style: italic;
}

a:visited {
  text-decoration: none;
}

a:hover {
  color: #374151;
}

.underline-animation a {
  display: inline-block;
  position: relative;
}

.underline-animation a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0) translateY(4px);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ff3000;
  transition: transform 0.25s ease-out;
  transform-origin: bottom center;
}

.underline-animation a:hover::after {
  transform: scaleX(1) translateY(4px);
}

h1,
h2 {
  color: black;
}

h1 > span,
h2 > span,
h3 > span {
  color: #ff3000;
}

/* extra styling points! */
.code {
  color: black;
  font-family: monospace;
  background-color: #cee1ff;
  border-radius: 2px;
  padding: 2px;
  text-decoration: none;
}
