/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .logo > h1 > a {
    font-size: 1rem;
  }
  nav li {
    font-size: 0.7rem;
  }
  nav li + li::before {
    font-size: 1rem;
  }
  .socials > a > img {
    width: 1rem;
    height: 1rem;
  }
  .socials {
    column-gap: 0.2rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .logo > h1 > a {
    font-size: 2rem;
  }
  nav li {
    font-size: 1rem;
  }
  nav li + li::before {
    font-size: 1.2rem;
  }
  .socials > a > img {
    width: 1.5rem;
    height: 1.5rem;
  }
  .socials {
    column-gap: 0.4rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .logo > h1 > a {
    font-size: 2rem;
  }
  nav li {
    font-size: 1rem;
  }
  nav li + li::before {
    font-size: 1.2rem;
  }
  .socials > a > img {
    width: 1.5rem;
    height: 1.5rem;
  }
  .socials {
    column-gap: 0.4rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .logo > h1 > a {
    font-size: 2rem;
  }
  nav li {
    font-size: 1rem;
  }
  nav li + li::before {
    font-size: 1.2rem;
  }
  .socials > a > img {
    width: 1.5rem;
    height: 1.5rem;
  }
  .socials {
    column-gap: 0.4rem;
  }
}

nav {
  width: 100vw;
  /* display: flex; */
  /* flex-direction: row; */
  justify-items: center;
  display: inline-grid;
  grid-template-columns: 1fr 5fr 1fr;
  margin-bottom: 20px;
  border-bottom: 0px solid black;
}

.logo {
  padding: 5px;
  align-content: center;
}

.logo > h1 > a {
  font-family: "Helvetica";
  color: var(--black);
  text-align: left;
  padding: 5px;
  text-decoration: none;
}

.logo > h1 > a > span {
  color: var(--red);
}

nav ul {
  padding: 5px;
  align-content: center;
}

nav li {
  display: inline;
}

nav li + li::before {
  font-family: "Eiko";
  content: "\00a0~\00a0\00a0";
}

nav,
nav a {
  font-family: "Eiko";
  color: var(--black);
  text-decoration: none;
  font-style: normal !important;
}

nav a:hover {
  color: var(--dark-gray);
}

nav a:hover img {
  filter: invert(21%) sepia(40%) saturate(422%) hue-rotate(178deg)
    brightness(87%) contrast(81%);
}

.socials {
  display: flex;
  flex-direction: row;
  align-items: end;
  padding: 5px;
  align-content: end;
}

.socials > a {
  text-decoration: none;
}
